.btn {
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font: inherit;
    font-size: 1.5rem;
    height: 3rem;
    width: 15rem;
  }
  
  .ui-btn {
      background-color: rgb(38, 0, 255);  
      color: rgb(255, 255, 255); 
  }
  
  .ui-btn:hover,
  .ui-btn:active {
    background-color: rgb(0,90,255);
    border-color: rgb(166,0,255);
  }
  
  .btn-close {
    background-color:rgb(245, 243, 240);
    border: 1px solid #641e03;
    color:#641e03;
    margin-right: 1rem;
  }
  
  .btn-close:hover,
  .btn-close:active {
    color:rgb(245, 243, 240);
    border: 1px solid #641e03;
    background-color:#641e03;
  }
  
  